.modal-container{
    position: absolute;
    bottom: 8px;
    background-color: #FFF;
    padding: 14px;
    width: 700px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: slideY 1.5s;
}

/*Animação Slide*/
@keyframes slideY{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0px);
        
    }
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header button{
    border: 0;
    background: transparent;
}

.modal-container span{
    margin: 14px 0;
    color: #A7A7A7;
    font-size: 18px;
}

.modal-link{
    background-color: rgb(2, 54, 91);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: #fff;
}

@media (max-width: 735px){
    .modal-container{
        width: 90%;
    }
}

